# Local Development
REACT_APP_NETWORK_ID=31337
REACT_APP_CONTRACT_ADDRESS=0x3325372CCdE3Bff375413912A904C287E0034796

# For Testnet Deployment
PRIVATE_KEY=your_wallet_private_key_here
INFURA_API_KEY=optional_your_infura_key
